[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
chardet = "*"
django-widget-tweaks = "*"
pillow = "*"
psycopg2 = "*"
requests = "*"
termcolor = "*"
unidecode = "*"
urllib3 = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
